body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
  }
  p{
    text-align: center;
  }
  h1{
      font-size: 100px;
      text-align: center;
  }
  .star-wars {
    display: flex;
    justify-content: center;
    height: 800px;
    perspective: 400px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
  }
  .crawl {
    position: relative;
    top: -100px;
    transform-origin: 50% 100%;
  }
  @keyframes crawl {
    0% {
     top: 0;
     transform: rotateX(20deg) translateZ(0);
    }
    100% { 
     top: -6000px;
     transform: rotateX(25deg) translateZ(-2500px);
    }
  }
  .crawl {
   position: relative;
   transform-origin: 50% 100%;
   animation: crawl 60s linear;
  }
